* {
    box-sizing: border-box;
}

body {
    background-color: #bdddbd;
    color: #6a6a6a;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
}

header {
    padding-top: 50px;
}

.container {
    display: flex;
    height: 100%;
    margin: 20px 50px;
}

.name {
    font-size: 1.5em;
    text-align: center;
}

.photo {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    background: url(image/my_photo.jpg);
    position: relative;
    background-repeat: no-repeat;
    /*margin: 25px;*/
}

.contacts {
    margin-left: 100px;
}

.telephone-number {
    text-decoration: none;
    color: #6a6a6a;
}

.mail {
    text-decoration: none;
    color: #6a6a6a;
}