* {
    box-sizing: border-box;
}

body {
    background-color: #bdddbd;
    color: #6a6a6a;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: 2px solid #fff;
}

.container {
    display: flex;
    height: 100%;
    margin: 20px 50px;
}

.name {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 900;
}

.photo {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    background: url(image/my_photo.jpg);
    position: relative;
    background-repeat: no-repeat;
}

.contacts {
    margin-left: 100px;
    list-style-type: none;
}

.list-of-contact {
    list-style-type: none;
    padding-left: 0;
}

.telephone-number {
    text-decoration: none;
    color: #6a6a6a;
}

.mail {
    text-decoration: none;
    color: #6a6a6a;
}

.list-about-me {
    list-style-type: disc;
}

pre {
    display: block;
    font-family: 'Courier', monospace;
}

.languages {
    margin-bottom: 150px;
}